
<div class="row" style=" margin-top: 3rem; border-bottom: solid; border-width:1px;">
    <div class="col-xs-1" *ngIf="intervalState.showingRoot">
        <p class="icon"
            [ngStyle]="{'color': bgColors.Root}">
            <i class="fas fa-star"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingRoot">
        <p></p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMinor2">
        <p class="icon"
            [ngStyle]="{'color': bgColors.minor2nd}">
            <i class="fas fa-angle-down"></i><i class="fas fa-dot-circle"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMinor2">
        <p></p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMajor2">
        <p class="icon"
            [ngStyle]="{'color': bgColors.Major2nd}">
            <i class="fas fa-dot-circle"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMajor2">
        <p></p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMinor3">
        <p class="icon"
            [ngStyle]="{'color': bgColors.minor3rd}">
            <i class="fas fa-angle-down"></i><i class="fas fa-play"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMinor3">
        <p></p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMajor3">
        <p class="icon"
            [ngStyle]="{'color': bgColors.Major3rd}">
            <i class="fas fa-play"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMajor3">
        <p></p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingPerfect4">
        <p class="icon"
            [ngStyle]="{'color': bgColors.Perfect4th}">
            <i class="fas fa-square"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingPerfect4">
        <p></p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingDim5">
        <p class="icon"
            [ngStyle]="{'color': bgColors.diminished5th}">
            <i class="fas fa-times"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingDim5">
        <p></p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingPerfect5">
        <p class="icon"
            [ngStyle]="{'color': bgColors.Perfect5th}">
            <i class="fas fa-circle"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingPerfect5">
        <p></p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMinor6">
        <p class="icon"
            [ngStyle]="{'color': bgColors.minor6th}">
            <i class="fas fa-angle-down"></i><i class="fas fa-asterisk"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMinor6">
        <p></p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMajor6">
        <p class="icon"
            [ngStyle]="{'color': bgColors.Major6th}">
            <i class="fas fa-asterisk"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMajor6">
        <p></p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMinor7">
        <p class="icon"
            [ngStyle]="{'color': bgColors.minor7th}">
            <i class="fas fa-angle-down"></i><i class="fas fa-map-marker"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMinor7">
        <p></p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMajor7">
        <p class="icon"
            [ngStyle]="{'color': bgColors.Major7th}">
            <i class="fas fa-map-marker"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMajor7">
        <p></p>
    </div>
</div>

<div class="row" style=" border: solid; border-width:1px; border-top-color: white">
    <div class="col-xs-1" *ngIf="intervalState.showingPerfect5" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Perfect5th}">
            <i class="fas fa-circle"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingPerfect5" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMinor6" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor6th}">
            <i class="fas fa-angle-down"></i><i class="fas fa-asterisk"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMinor6" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMajor6" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Major6th}">
            <i class="fas fa-asterisk"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMajor6" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMinor7" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor7th}">
            <i class="fas fa-angle-down"></i><i class="fas fa-map-marker"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMinor7" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMajor7" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Major7th}">
            <i class="fas fa-map-marker"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMajor7" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingRoot" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Root}">
            <i class="fas fa-star"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingRoot" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMinor2" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor2nd}">
            <i class="fas fa-angle-down"></i><i class="fas fa-dot-circle"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMinor2" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMajor2" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Major2nd}">
            <i class="fas fa-dot-circle"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMajor2" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMinor3" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor3rd}">
            <i class="fas fa-angle-down"></i><i class="fas fa-play"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMinor3" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMajor3" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Major3rd}">
            <i class="fas fa-play"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMajor3" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingPerfect4" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Perfect4th}">
            <i class="fas fa-square"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingPerfect4" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingDim5" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.diminished5th}">
            <i class="fas fa-times"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingDim5" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
</div>

<div class="row" style=" border: solid; border-width:1px; border-top-color: white">
    <div class="col-xs-1" *ngIf="intervalState.showingMinor3" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor3rd}">
            <i class="fas fa-angle-down"></i><i class="fas fa-play"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMinor3" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMajor3" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Major3rd}">
            <i class="fas fa-play"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMajor3" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingPerfect4" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Perfect4th}">
            <i class="fas fa-square"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingPerfect4" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingDim5" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.diminished5th}">
            <i class="fas fa-times"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingDim5" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingPerfect5" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Perfect5th}">
            <i class="fas fa-circle"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingPerfect5" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMinor6" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor6th}">
            <i class="fas fa-angle-down"></i><i class="fas fa-asterisk"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMinor6" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMajor6" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Major6th}">
            <i class="fas fa-asterisk"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMajor6" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMinor7" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor7th}">
            <i class="fas fa-angle-down"></i><i class="fas fa-map-marker"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMinor7" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMajor7" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Major7th}">
            <i class="fas fa-map-marker"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMajor7" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingRoot" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Root}">
            <i class="fas fa-star"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingRoot" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMinor2" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor2nd}">
            <i class="fas fa-angle-down"></i><i class="fas fa-dot-circle"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMinor2" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMajor2" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Major2nd}">
            <i class="fas fa-dot-circle"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMajor2" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
</div>

<div class="row" style=" border: solid; border-width:1px; border-top-color: white">
    <div class="col-xs-1" *ngIf="intervalState.showingMinor7" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor7th}">
            <i class="fas fa-angle-down"></i><i class="fas fa-map-marker"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMinor7" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMajor7" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Major7th}">
            <i class="fas fa-map-marker"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMajor7" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingRoot" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Root}">
            <i class="fas fa-star"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingRoot" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMinor2" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor2nd}">
            <i class="fas fa-angle-down"></i><i class="fas fa-dot-circle"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMinor2" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMajor2" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Major2nd}">
            <i class="fas fa-dot-circle"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMajor2" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMinor3" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor3rd}">
            <i class="fas fa-angle-down"></i><i class="fas fa-play"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMinor3" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMajor3" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Major3rd}">
            <i class="fas fa-play"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMajor3" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingPerfect4" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Perfect4th}">
            <i class="fas fa-square"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingPerfect4" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingDim5" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.diminished5th}">
            <i class="fas fa-times"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingDim5" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingPerfect5" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Perfect5th}">
            <i class="fas fa-circle"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingPerfect5" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMinor6" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor6th}">
            <i class="fas fa-angle-down"></i><i class="fas fa-asterisk"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMinor6" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMajor6" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Major6th}">
            <i class="fas fa-asterisk"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMajor6" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
</div>

<div class="row" style=" border: solid; border-width:1px; border-top-color: white">
    <div class="col-xs-1" *ngIf="intervalState.showingPerfect4" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Perfect4th}">
            <i class="fas fa-square"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingPerfect4" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingDim5" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.diminished5th}">
            <i class="fas fa-times"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingDim5" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingPerfect5" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Perfect5th}">
            <i class="fas fa-circle"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingPerfect5" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMinor6" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor6th}">
            <i class="fas fa-angle-down"></i><i class="fas fa-asterisk"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMinor6" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMajor6" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Major6th}">
            <i class="fas fa-asterisk"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMajor6" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMinor7" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor7th}">
            <i class="fas fa-angle-down"></i><i class="fas fa-map-marker"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMinor7" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMajor7" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Major7th}">
            <i class="fas fa-map-marker"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMajor7" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingRoot" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Root}">
            <i class="fas fa-star"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingRoot" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMinor2" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor2nd}">
            <i class="fas fa-angle-down"></i><i class="fas fa-dot-circle"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMinor2" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMajor2" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Major2nd}">
            <i class="fas fa-dot-circle"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMajor2" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMinor3" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor3rd}">
            <i class="fas fa-angle-down"></i><i class="fas fa-play"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMinor3" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMajor3" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Major3rd}">
            <i class="fas fa-play"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMajor3" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
</div>
   
<div class="row" style=" border: solid; border-width:1px; border-top-color: white">
    <div class="col-xs-1" *ngIf="intervalState.showingRoot" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Root}">
            <i class="fas fa-star"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingRoot" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMinor2" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor2nd}">
            <i class="fas fa-angle-down"></i><i class="fas fa-dot-circle"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMinor2" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMajor2" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Major2nd}">
            <i class="fas fa-dot-circle"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMajor2" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMinor3" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor3rd}">
            <i class="fas fa-angle-down"></i><i class="fas fa-play"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMinor3" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMajor3" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Major3rd}">
            <i class="fas fa-play"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMajor3" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingPerfect4" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Perfect4th}">
            <i class="fas fa-square"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingPerfect4" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingDim5" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.diminished5th}">
            <i class="fas fa-times"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingDim5" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingPerfect5" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Perfect5th}">
            <i class="fas fa-circle"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingPerfect5" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMinor6" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor6th}">
            <i class="fas fa-angle-down"></i><i class="fas fa-asterisk"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMinor6" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMajor6" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Major6th}">
            <i class="fas fa-asterisk"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMajor6" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMinor7" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor7th}">
            <i class="fas fa-angle-down"></i><i class="fas fa-map-marker"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMinor7" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" *ngIf="intervalState.showingMajor7" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Major7th}">
            <i class="fas fa-map-marker"></i>
        </p>
    </div>
    <div class="col-xs-1" *ngIf="!intervalState.showingMajor7" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
</div>

