<div class="row" style=" margin-top: 3rem; border: solid; border-width:1px;">
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1">
        <p>x</p>
    </div>
</div>
<div class="row" style=" border: solid; border-width:1px; border-top-color: white">
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1">
        <p>x</p>
    </div>
</div>
<div class="row" style=" border: solid; border-width:1px; border-top-color: white">
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1">
        <p>x</p>
    </div>
</div>
<div class="row" style=" border: solid; border-width:1px; border-top-color: white">
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': Perfect4thColor}"><i class="fas fa-square"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': Perfect5thColor}"><i class="fas fa-circle"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': Major6thColor}"><i class="fas fa-asterisk"></i>
        </p> 
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': Major7thColor}"><i class="fas fa-map-marker"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1">
        <p>x</p>
    </div>
</div>
<div class="row" style=" border: solid; border-width:1px; border-top-color: white">
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': RootColor}"><i class="fas fa-star"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': Major2ndColor}"><i class="fas fa-dot-circle"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': Major3rdColor}"><i class="fas fa-play"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': Perfect4thColor}">
            <i class="fas fa-square"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': Perfect5thColor}">
            <i class="fas fa-circle"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': Major6thColor}">
            <i class="fas fa-asterisk"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1">
        <p class="icon"
           [ngStyle]="{'color': Major7thColor}">
            <i class="fas fa-map-marker"></i>
        </p>
    </div>
</div>
