<div class="row" style=" margin-top: 3rem; border-bottom: solid; border-width:1px;">
    <div class="col-xs-1">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Root}">
            <i class="fas fa-star"></i>
        </p>
    </div>
    <div class="col-xs-1">

    </div>
    <div class="col-xs-1">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Major2nd}">
            <i class="fas fa-dot-circle"></i>
        </p>
    </div>
    <div class="col-xs-1">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor3rd}">
            <i class="fas fa-play"></i>
        </p>
    </div>
    <div class="col-xs-1">

    </div>
    <div class="col-xs-1">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Perfect4th}">
            <i class="fas fa-square"></i>
        </p>
    </div>
    <div class="col-xs-1">

    </div>
    <div class="col-xs-1">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Perfect5th}">
            <i class="fas fa-circle"></i>
        </p>
    </div>
    <div class="col-xs-1">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor6th}">
            <i class="fas fa-asterisk"></i>
        </p>
    </div>
    <div class="col-xs-1">
        
    </div>
    <div class="col-xs-1">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor7th}">
            <i class="fas fa-map-marker"></i>
        </p>
    </div>
    <div class="col-xs-1">
        
    </div>
</div>
<div class="row" style=" border: solid; border-width:1px; border-top-color: white">
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Perfect5th}">
            <i class="fas fa-circle"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor6th}">
            <i class="fas fa-asterisk"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor7th}">
            <i class="fas fa-map-marker"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Root}">
            <i class="fas fa-star"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Major2nd}">
            <i class="fas fa-dot-circle"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor3rd}">
            <i class="fas fa-play"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Perfect4th}">
            <i class="fas fa-square"></i>
        </p>
    </div>
    <div class="col-xs-1">
        <p>x</p>
    </div>
</div>
<div class="row" style=" border: solid; border-width:1px; border-top-color: white">
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor3rd}">
            <i class="fas fa-play"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Perfect4th}">
            <i class="fas fa-square"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Perfect5th}">
            <i class="fas fa-circle"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor6th}">
            <i class="fas fa-asterisk"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor7th}">
            <i class="fas fa-map-marker"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Root}">
            <i class="fas fa-star"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Major2nd}">
            <i class="fas fa-dot-circle"></i>
        </p>
    </div>
</div>
<div class="row" style=" border: solid; border-width:1px; border-top-color: white">
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor7th}">
            <i class="fas fa-map-marker"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Root}">
            <i class="fas fa-star"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Major2nd}">
            <i class="fas fa-dot-circle"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor3rd}">
            <i class="fas fa-play"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Perfect4th}">
            <i class="fas fa-square"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Perfect5th}">
            <i class="fas fa-circle"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor6th}">
            <i class="fas fa-asterisk"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
</div>
<div class="row" style=" border: solid; border-width:1px; border-top-color: white">
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Perfect4th}">
            <i class="fas fa-square"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Perfect5th}">
            <i class="fas fa-circle"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor6th}">
            <i class="fas fa-asterisk"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor7th}">
            <i class="fas fa-map-marker"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Root}">
            <i class="fas fa-star"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Major2nd}">
            <i class="fas fa-dot-circle"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor3rd}">
            <i class="fas fa-play"></i>
        </p>
    </div>
    <div class="col-xs-1">
        <p>x</p>
    </div>
</div>
<div class="row" style=" border: solid; border-width:1px; border-top-color: white">
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Root}">
            <i class="fas fa-star"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Major2nd}">
            <i class="fas fa-dot-circle"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor3rd}">
            <i class="fas fa-play"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Perfect4th}">
            <i class="fas fa-square"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.Perfect5th}">
            <i class="fas fa-circle"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor6th}">
            <i class="fas fa-asterisk"></i>
        </p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p class="icon"
           [ngStyle]="{'color': bgColors.minor7th}">
            <i class="fas fa-map-marker"></i>
        </p>
    </div>
    <div class="col-xs-1">
        <p>x</p>
    </div>
</div>
