
<div class="row">
    <div class="col-xs-6">
        <h3>Pick Key:</h3>
        <google-chart id="keyPickerChart"
                      [type]="keyPickerVisual.type"
                      [data]="this.keyPickerVisual.data"
                      [options]="keyPickerVisual.googleChartOptions"
                      (select)="handleKeySelected($event)">
        </google-chart>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <button type="button"
                    [ngClass]="intervalBtnState.showingMajorKey ? 'music-btn-pressed' : 'music-btn'"                
                    (click)="handleKeyVersionSelected('major')">
                Major
            </button>
            <button type="button"
                    [ngClass]="!intervalBtnState.showingMajorKey ? 'music-btn-pressed' : 'music-btn'"
                    (click)="handleKeyVersionSelected('minor')">
                Minor
            </button>
        </div>
    </div>
    <div class="col-xs-6">
        <h3 *ngIf="intervalBtnState.showingMajorKey">Major Key:</h3>
        <h3 *ngIf="!intervalBtnState.showingMajorKey">Minor Key:</h3>
        <google-chart #scaleChart
                      [type]="musicKeyVisual.type"
                      [data]="musicKeyVisual.data"
                      [options]="musicKeyVisual.googleChartOptions">
        </google-chart>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <button type="button"
                    [ngClass]="intervalBtnState.showingRoot ? 'music-btn-pressed' : 'music-btn'">
                R
            </button>
            <button type="button"
                    *ngIf="intervalBtnState.showingMajorKey"
                    [ngClass]="intervalBtnState.showing2nd ? 'music-btn-pressed' : 'music-btn'"
                    (click)="handleSecondIntervalClick()">
                ii
            </button>
            <button type="button"
                    *ngIf="!intervalBtnState.showingMajorKey"
                    [ngClass]="intervalBtnState.showing2nd ?'music-btn-pressed' : 'music-btn'"
                    (click)="handleSecondIntervalClick()">
                dim
            </button>
            <button type="button"
                    *ngIf="intervalBtnState.showingMajorKey"
                    [ngClass]="intervalBtnState.showing3rd ?'music-btn-pressed' : 'music-btn'"
                    (click)="handleMajorThirdIntervalClick()">
                iii
            </button>
            <button type="button"
                    *ngIf="!intervalBtnState.showingMajorKey"
                    [ngClass]="intervalBtnState.showing3rd ? 'music-btn-pressed' : 'music-btn'"
                    (click)="handleMinorThirdIntervalClick()">
                III
            </button>
            <button type="button"
                    *ngIf="intervalBtnState.showingMajorKey"
                    [ngClass]="intervalBtnState.showing4th ? 'music-btn-pressed' : 'music-btn'"
                    (click)="handleFourthIntervalClick()">
                IV
            </button>
            <button type="button"
                    *ngIf="!intervalBtnState.showingMajorKey"
                    [ngClass]="intervalBtnState.showing4th ? 'music-btn-pressed' : 'music-btn'"
                    (click)="handleFourthIntervalClick()">
                iv
            </button>
            <button type="button"
                    *ngIf="intervalBtnState.showingMajorKey"
                    [ngClass]="intervalBtnState.showing5th ? 'music-btn-pressed' : 'music-btn'"
                    (click)="handleFifthIntervalClick()">
                V
            </button>
            <button type="button"
                    *ngIf="!intervalBtnState.showingMajorKey"
                    [ngClass]="intervalBtnState.showing5th ? 'music-btn-pressed' : 'music-btn'"
                    (click)="handleFifthIntervalClick()">
                v
            </button>
            <button type="button"
                    *ngIf="intervalBtnState.showingMajorKey"
                    [ngClass]="intervalBtnState.showing6th ? 'music-btn-pressed' : 'music-btn'"
                    (click)="handleMajorSixthIntervalClick()">
                vi
            </button>
            <button type="button"
                    *ngIf="!intervalBtnState.showingMajorKey"
                    [ngClass]="intervalBtnState.showing6th ? 'music-btn-pressed' : 'music-btn'"
                    (click)="handleMinorSixthIntervalClick()">
                VI
            </button>
            <button type="button"
                    *ngIf="intervalBtnState.showingMajorKey"
                    [ngClass]="intervalBtnState.showing7th ? 'music-btn-pressed' : 'music-btn'"
                    (click)="handleMajorSeventhIntervalClick()">
                dim
            </button>
            <button type="button"
                    *ngIf="!intervalBtnState.showingMajorKey"
                    [ngClass]="intervalBtnState.showing7th ? 'music-btn-pressed' : 'music-btn'"
                    (click)="handleMinorSeventhIntervalClick()">
                VII
            </button>
        </div>
    </div>
</div>


<!--div class="row"
        *ngIf="showChromaticScale"
        style="margin-top: 3rem;">
    <div class="col-xs-1"
            [ngStyle]="{'background-color':backgroundColors.Root}">
        <h4>Root</h4>
        <p>{{musicKey.Root}}</p>
    </div>
    <div class="col-xs-1"
            [ngStyle]="{'background-color':backgroundColors.minor2nd}">
        <h4>m2</h4>
        <p>{{musicKey.minor2nd}}</p>
    </div>
    <div class="col-xs-1"
            [ngStyle]="{'background-color':backgroundColors.Major2nd}">
        <h4>M2</h4>
        <p>{{musicKey.Major2nd}}</p>
    </div>
    <div class="col-xs-1"
            [ngStyle]="{'background-color':backgroundColors.minor3rd}">
        <h4>m3</h4>
        <p>{{musicKey.minor3rd}}</p>
    </div>
    <div class="col-xs-1"
            [ngStyle]="{'background-color':backgroundColors.Major3rd}">
        <h4>M3</h4>
        <p>{{musicKey.Major3rd}}</p>
    </div>
    <div class="col-xs-1"
            [ngStyle]="{'background-color':backgroundColors.Perfect4th}">
        <h4>P4</h4>
        <p>{{musicKey.Perfect4th}}</p>
    </div>
    <div class="col-xs-1"
            [ngStyle]="{'background-color':backgroundColors.diminished5th}">
        <h4>d5</h4>
        <p>{{musicKey.diminished5th}}</p>
    </div>
    <div class="col-xs-1"
            [ngStyle]="{'background-color':backgroundColors.Perfect5th}">
        <h4>P5</h4>
        <p>{{musicKey.Perfect5th}}</p>
    </div>
    <div class="col-xs-1"
            [ngStyle]="{'background-color':backgroundColors.minor6th}">
        <h4>m6</h4>
        <p>{{musicKey.minor6th}}</p>
    </div>
    <div class="col-xs-1"
            [ngStyle]="{'background-color':backgroundColors.Major6th}">
        <h4>M6</h4>
        <p>{{musicKey.Major6th}}</p>
    </div>
    <div class="col-xs-1"
            [ngStyle]="{'background-color':backgroundColors.minor7th}">
        <h4>m7</h4>
        <p>{{musicKey.minor7th}}</p>
    </div>
    <div class="col-xs-1"
            [ngStyle]="{'background-color':backgroundColors.Major7th}">
        <h4>M7</h4>
        <p>{{musicKey.Major7th}}</p>
    </div>
</div>
<div class="row" style="margin-top: 3rem;">

    <div class="col-xs-1"
            [ngStyle]="{'background-color':backgroundColors.Root}">
        <div *ngIf="true">
            <h4 *ngIf="!renderingMajorKey">i*</h4>
            <h4 *ngIf="renderingMajorKey">I*</h4>
            <p>{{musicKey.Root}}</p>
        </div>
    </div>

    <div class="col-xs-1"></div>

    <div class="col-xs-1"
            [ngStyle]="{'background-color':backgroundColors.Major2nd}">
        <h4 *ngIf="!renderingMajorKey">d</h4>
        <h4 *ngIf="renderingMajorKey">ii*</h4>
        <p>{{musicKey.Major2nd}}</p>
    </div>

    <div class="col-xs-1"
            *ngIf="renderingMajorKey">
    </div>
    <div class="col-xs-1"
            *ngIf="!renderingMajorKey"
            [ngStyle]="{'background-color':backgroundColors.minor3rd}">
        <h4>III*</h4>
        <p>{{musicKey.minor3rd}}</p>
    </div>

    <div class="col-xs-1"
            *ngIf="renderingMajorKey"
            [ngStyle]="{'background-color':backgroundColors.Major3rd}">
        <h4>iii*</h4>
        <p>{{musicKey.Major3rd}}</p>
    </div>

    <div class="col-xs-1"
            *ngIf="!renderingMajorKey">
    </div>

    <div class="col-xs-1"
            [ngStyle]="{'background-color':backgroundColors.Perfect4th}">
        <div *ngIf="true">
            <h4 *ngIf="!renderingMajorKey">iv*</h4>
            <h4 *ngIf="renderingMajorKey">IV</h4>
            <p>{{musicKey.Perfect4th}}</p>
        </div>
    </div>

    <div class="col-xs-1"> </div>

    <div class="col-xs-1"
            [ngStyle]="{'background-color':backgroundColors.Perfect5th}">
        <div *ngIf="true">
            <h4 *ngIf="!renderingMajorKey">v*</h4>
            <h4 *ngIf="renderingMajorKey">V*</h4>
            <p>{{musicKey.Perfect5th}}</p>
        </div>
    </div>

    <div class="col-xs-1"
            *ngIf="renderingMajorKey">
    </div>
    <div class="col-xs-1"
            *ngIf="!renderingMajorKey"
            [ngStyle]="{'background-color':backgroundColors.minor6th}">
        <h4>VI</h4>
        <p>{{musicKey.minor6th}}</p>
    </div>

    <div class="col-xs-1"
            *ngIf="renderingMajorKey"
            [ngStyle]="{'background-color':backgroundColors.Major6th}">
        <h4>vi*</h4>
        <p>{{musicKey.Major6th}}</p>
    </div>
    <div class="col-xs-1"
            *ngIf="!renderingMajorKey">
    </div>

    <div class="col-xs-1"
            *ngIf="renderingMajorKey">
    </div>
    <div class="col-xs-1"
            *ngIf="!renderingMajorKey"
            [ngStyle]="{'background-color':backgroundColors.minor7th}">
        <h4>VII*</h4>
        <p>{{musicKey.minor7th}}</p>
    </div>

    <div class="col-xs-1"
            *ngIf="renderingMajorKey"
            [ngStyle]="{'background-color':backgroundColors.Major7th}">
        <h4>d</h4>
        <p>{{musicKey.Major7th}}</p>
    </div>
    <div class="col-xs-1"
            *ngIf="!renderingMajorKey">
    </div>
</div>
<div class="row" style="margin-top: 3rem">
    <div class="col-xs-9">
        <input #chromaticScale type="range" min="1" max="12" value="1" (change)="getchromaticScaleValue($event)">
    </div>
    <div class="col-xs-2"></div>
    <div class="col-xs-1">
        <input #minorMajorScale type="range" min="1" max="2" value="1" (change)="getminorMajorValue()">
    </div>
</div>

<div class="row" style="margin-top: 3rem;">
    <div class="col-xs-4">
        <button type="button"
                class="btn btn-primary"
                (click)="handleClick()">
            Show Chromatic Scale
        </button>
    </div>
</div>-->
<div class="row" style=" margin-top: 3rem; border: solid; border-width:1px;">
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1">
        <p>x</p>
    </div>
</div>
<div class="row" style=" border: solid; border-width:1px; border-top-color: white">
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1">
        <p>x</p>
    </div>
</div>
<div class="row" style=" border: solid; border-width:1px; border-top-color: white">
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1">
        <p>x</p>
    </div>
</div>
<div class="row" style=" border: solid; border-width:1px; border-top-color: white">
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p style="position:relative; top: 2.0rem; left: 2.5rem;"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p style="position:relative; top: 2.0rem; left: 2.5rem;"><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span></p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1">
        <p>x</p>
    </div>
</div>
<div class="row" style=" border: solid; border-width:1px; border-top-color: white">
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p style="position:relative; top: 2.0rem; left: 2.5rem;"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p style="position:relative; top: 2.0rem; left: 2.5rem;"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
        <p>x</p>
    </div>
    <div class="col-xs-1">
        <p>x</p>
    </div>
</div>

