
<div class="row"> 
    <div class="col-xs-4">
        <div class="panel panel-default">
            <h3>Pick Key:</h3>
            <google-chart id="keyPickerChart"
                          [type]="keyPickerVisual.type"
                          [data]="this.keyPickerVisual.data"
                          [options]="keyPickerVisual.googleChartOptions"
                          (select)="handleKeySelected($event)">
            </google-chart>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <button type="button"
                        [ngClass]="intervalBtnState.circleBy5ths ? 'music-btn-pressed' : 'music-btn'"
                        (click)="handleShowCircleByPerfect5ths()">
                    〇 of 5ths
                </button>
                <button type="button"
                        [ngClass]="intervalBtnState.showingMajorKey ? 'music-btn-pressed' : 'music-btn'"
                        (click)="handleKeyVersionSelected('major')">
                    Major
                </button>
                <button type="button"
                        [ngClass]="!intervalBtnState.showingMajorKey ? 'music-btn-pressed' : 'music-btn'"
                        (click)="handleKeyVersionSelected('minor')">
                    Minor
                </button>
            </div>
         </div>
     </div>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <h3 *ngIf="intervalBtnState.showingMajorKey">Major Key:</h3>
            <h3 *ngIf="!intervalBtnState.showingMajorKey">Minor Key:</h3>
            <google-chart #scaleChart
                          [type]="musicKeyVisual.type"
                          [data]="musicKeyVisual.data"
                          [options]="musicKeyVisual.googleChartOptions">
            </google-chart>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <button type="button"
                        *ngIf="intervalBtnState.showingMajorKey"
                        [ngClass]="intervalBtnState.showingRoot ? 'music-btn-pressed' : 'music-btn'">
                    I
                </button>
                <button type="button"
                        *ngIf="!intervalBtnState.showingMajorKey"
                        [ngClass]="intervalBtnState.showingRoot ? 'music-btn-pressed' : 'music-btn'">
                    i
                </button>
                <button type="button"
                        *ngIf="intervalBtnState.showingMajorKey"
                        [ngClass]="intervalBtnState.showing2nd ? 'music-btn-pressed' : 'music-btn'"
                        (click)="handleSecondIntervalClick()">
                    ii
                </button>
                <button type="button"
                        *ngIf="!intervalBtnState.showingMajorKey"
                        [ngClass]="intervalBtnState.showing2nd ?'music-btn-pressed' : 'music-btn'"
                        (click)="handleSecondIntervalClick()">
                    dim
                </button>
                <button type="button"
                        *ngIf="intervalBtnState.showingMajorKey"
                        [ngClass]="intervalBtnState.showing3rd ?'music-btn-pressed' : 'music-btn'"
                        (click)="handleMajorThirdIntervalClick()">
                    iii
                </button>
                <button type="button"
                        *ngIf="!intervalBtnState.showingMajorKey"
                        [ngClass]="intervalBtnState.showing3rd ? 'music-btn-pressed' : 'music-btn'"
                        (click)="handleMinorThirdIntervalClick()">
                    III
                </button>
                <button type="button"
                        *ngIf="intervalBtnState.showingMajorKey"
                        [ngClass]="intervalBtnState.showing4th ? 'music-btn-pressed' : 'music-btn'"
                        (click)="handleFourthIntervalClick()">
                    IV
                </button>
                <button type="button"
                        *ngIf="!intervalBtnState.showingMajorKey"
                        [ngClass]="intervalBtnState.showing4th ? 'music-btn-pressed' : 'music-btn'"
                        (click)="handleFourthIntervalClick()">
                    iv
                </button>
                <button type="button"
                        *ngIf="intervalBtnState.showingMajorKey"
                        [ngClass]="intervalBtnState.showing5th ? 'music-btn-pressed' : 'music-btn'"
                        (click)="handleFifthIntervalClick()">
                    V
                </button>
                <button type="button"
                        *ngIf="!intervalBtnState.showingMajorKey"
                        [ngClass]="intervalBtnState.showing5th ? 'music-btn-pressed' : 'music-btn'"
                        (click)="handleFifthIntervalClick()">
                    v
                </button>
                <button type="button"
                        *ngIf="intervalBtnState.showingMajorKey"
                        [ngClass]="intervalBtnState.showing6th ? 'music-btn-pressed' : 'music-btn'"
                        (click)="handleMajorSixthIntervalClick()">
                    vi
                </button>
                <button type="button"
                        *ngIf="!intervalBtnState.showingMajorKey"
                        [ngClass]="intervalBtnState.showing6th ? 'music-btn-pressed' : 'music-btn'"
                        (click)="handleMinorSixthIntervalClick()">
                    VI
                </button>
                <button type="button"
                        *ngIf="intervalBtnState.showingMajorKey"
                        [ngClass]="intervalBtnState.showing7th ? 'music-btn-pressed' : 'music-btn'"
                        (click)="handleMajorSeventhIntervalClick()">
                    dim
                </button>
                <button type="button"
                        *ngIf="!intervalBtnState.showingMajorKey"
                        [ngClass]="intervalBtnState.showing7th ? 'music-btn-pressed' : 'music-btn'"
                        (click)="handleMinorSeventhIntervalClick()">
                    VII
                </button>
            </div>
        </div>         
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <chord-progression
                               [musicKey]="musicKey"
                               [showingMajorKey]="intervalBtnState.showingMajorKey"></chord-progression>
        </div>
    </div>
</div>

<div class="row" style=" margin-top: 3rem; border: solid; border-width:1px;">
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1">
    <p>x</p>
</div>
</div>
<div class="row" style=" border: solid; border-width:1px; border-top-color: white">
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1">
    <p>x</p>
</div>
</div>
<div class="row" style=" border: solid; border-width:1px; border-top-color: white">
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1">
    <p>x</p>
</div>
</div>
<div class="row" style=" border: solid; border-width:1px; border-top-color: white">
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p style="position:relative; top: 2.0rem; left: 2.5rem;"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p style="position:relative; top: 2.0rem; left: 2.5rem;"><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span></p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1">
    <p>x</p>
</div>
</div>
<div class="row" style=" border: solid; border-width:1px; border-top-color: white">
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p style="position:relative; top: 2.0rem; left: 2.5rem;"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p style="position:relative; top: 2.0rem; left: 2.5rem;"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1" style="border-right:solid; border-right-width: 1px;">
    <p>x</p>
</div>
<div class="col-xs-1">
    <p>x</p>
</div>
</div>

